In [1]:
import pandas as pd  # Importing Pandas For Reading CSV File

## Reading Data

In [2]:
df = pd.read_csv('data.csv')  # Reading CSV

In [3]:
df.head()  # .head For First Five Data

,fever,bodyPain,age,runnyNose,difficultyBreath,infectionProbability
0,100.668412,1,32,1,-1,0
1,100.589094,0,51,0,0,0
2,99.559188,1,86,0,1,1
3,101.301007,1,75,0,0,0
4,100.055345,1,89,1,0,0

In [4]:
df.tail()  # .tail For Last Five Data

,fever,bodyPain,age,runnyNose,difficultyBreath,infectionProbability
2570,101.882955,1,83,0,0,1
2571,99.116443,0,93,1,-1,0
2572,99.675146,1,41,1,-1,1
2573,100.244691,1,23,0,0,1
2574,99.852509,0,51,0,1,1

In [5]:
df.info()  # For information about our File

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fever                 2575 non-null   float64
 1   bodyPain              2575 non-null   int64
 2   age                   2575 non-null   int64
 3   runnyNose             2575 non-null   int64
 4   difficultyBreath      2575 non-null   int64
 5   infectionProbability  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [6]:
df['difficultyBreath'].value_counts()  # For countaing Values in Particular Column or Row

-1    892
 0    865
 1    818
Name: difficultyBreath, dtype: int64

In [7]:
df.describe()  # For All mathametical Data

,fever,bodyPain,age,runnyNose,difficultyBreath,infectionProbability
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,99.994367,0.516117,49.959612,0.501748,-0.028738,0.493592
std,1.142558,0.499837,29.102849,0.500094,0.814561,0.500056
min,98.000525,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.992069,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,100.013252,1.000000,49.000000,1.000000,0.000000,0.000000
75%,100.959550,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.998600,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Spliting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))  # In permutation the given data will br shuffled (last value will be excluded)
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
np.random.permutation(12)

array([ 6,  4,  9,  1, 11,  2,  3,  0,  8,  5,  7, 10])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

,fever,bodyPain,age,runnyNose,difficultyBreath,infectionProbability
1703,99.439507,1,26,1,-1,0
1675,100.970009,1,91,0,0,0
1518,100.740968,0,89,0,0,0
361,98.636916,1,13,1,0,0
1544,101.030386,1,10,0,-1,1
...,...,...,...,...,...,...
1638,101.561533,0,95,0,1,0
1095,99.199942,1,95,1,-1,1
1130,100.629542,1,17,1,1,0
1294,99.281518,1,69,1,-1,1
860,99.313487,0,10,1,1,1

In [13]:
test

,fever,bodyPain,age,runnyNose,difficultyBreath,infectionProbability
1644,99.805998,1,12,1,-1,1
1189,99.329459,1,19,1,0,1
495,100.845082,0,69,0,1,0
1656,100.902354,0,62,0,1,0
651,98.942938,0,55,1,-1,1
...,...,...,...,...,...,...
1627,99.196204,1,99,1,1,1
471,101.846838,0,4,0,-1,0
700,100.631443,1,94,1,0,0
25,98.576840,0,4,0,0,1
755,100.018154,1,46,0,1,1

In [14]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'difficultyBreath']].to_numpy()  #Converting train data to numpy array
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'difficultyBreath']].to_numpy()  #Converting test data to numpy array

In [15]:
Y_train = train[['infectionProbability']].to_numpy().reshape(2060, )
Y_test = test[['infectionProbability']].to_numpy().reshape(515, )

In [16]:
Y_train

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()  # Initializing
clf.fit(X_train, Y_train)

LogisticRegression()

In [19]:
infProb = clf.predict_proba([[100, 1, 28, 1, 1]])  # Predicting Probability of Infection

In [20]:
infProb[0][1]

0.49306907225274593